/* Vue Virtual Scroller styles */
@import 'vue-virtual-scroller/dist/vue-virtual-scroller.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стили для vue-virtual-scroller */
.virtual-table-body {
  width: 100%;
}

.virtual-table-body .vue-recycle-scroller__item-wrapper {
  overflow: visible;
}

.vue-recycle-scroller__item-view {
  display: flex;
  align-items: center;
}
