apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "30s"

  - name: PostgreSQL
    type: postgres
    access: proxy
    url: db:5432
    database: hydro
    user: hydro
    secureJsonData:
      password: change-me
    jsonData:
      sslmode: disable
      timescaledb: true
    editable: true

